* {
    font-family: Century Gothic;
    margin: 0px;
}
.header {
    color: rgb(255, 255, 255);
    background-color: #0187de;
    /* margin: 8%; */
    margin-top: 5px;
    padding-bottom: 0.5%;
    font-size: x-large;
    border-radius: 16px;
}

div.card {
    margin: auto;
    width: 70%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 2%;
    border-radius: 20px;
}

.links {
    text-decoration:none; 
    color: rgb(255, 255, 255);
    
}
.links:hover {
    color :#ffffff;
    text-shadow: 2px 2px 8px #000000;
}

.des {
    margin-top: 2%;
    padding-bottom: 0.5%;
    font-size: large;
}
.brief {
    padding: 20px;
}

.date {
    font-weight: bold;
}


.work {
    margin-left: 15%;
}

.work-title {
    font-size: x-large;
    font-weight: bold;
}

.sub-title {
    border-left: 5px solid #0187de;
    color: #0187de;
    font-weight: bold;
    font-size: x-large;
    /* background-color: #c1e6fffa; */
    list-style-type: none;
    padding: 10px 20px;
  }

.list {
    margin-bottom: 30px;
}

.list-ex {
    margin-bottom: 30px;
    margin-top: 20px;
    /* margin-left: 13%; */
}

li {
    margin-bottom: 15px;
}

.checked {
    color: #0187de;
  }

.rate1 {
    margin-right: 200px;
}
.rate2 {
    margin-right: 212px;
}
.rate3 {
    margin-right: 158px;
}
.rate4 {
    margin-right: 89px;
}
.rate5 {
    margin-right: 108px;
}
.rate6 {
    margin-right: 115px;
}

#name {
    margin-left: 4%;
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 48px;
    font-weight: bold;
    
}

#position {
    font-size: xx-large;
    margin-left: 4%;
    margin-bottom: 25px;
}

.sub {
    /* margin-left: 4%; */
    font-weight: bold;
    font-size: x-large;
    margin-right: 8px;
}
